<div class="alt_page_header relative h-full max-h-[500px] w-screen">
    <img src="{{ glide :src='gallery:url' format='webp' width='2500'}}" alt="{{ gallery:alt }}" class="object-cover h-full max-h-[500px] w-full" loading="eager">

    <div class="absolute inset-0 {{ if background_tint }} background-tint {{ /if }}">
        <div class="container mx-auto px-6 py-10 flex flex-col justify-end lg:justify-center text-white h-full w-full">
            <h1 class="text-6xl mb-4">{{ title }}</h1>
            {{ if subtitle}}
            <p class="text-2xl mb-6">{{ subtitle }}</p>
            {{ /if }}
            {{ if button_link }}
            <a href="{{ button_link }}" class="button {{ class }}">{{ button_text }}</a>
            {{ /if }}
        </div>
    </div>
</div>
