<div class="alt_three_column py-10 lg:py-20 bg-gray-300">
    <div class="container mx-auto px-6 flex-wrap lg:flex-nowrap justify-between lg:space-x-10 hidden lg:flex">
        {{ columns }}
        {{ partial src="parts/cards/card" }}
        {{ /columns }}
    </div>
    <div class="container mx-auto px-6 flex-wrap lg:flex-nowrap justify-between lg:space-x-10 lg:hidden overflow-hidden">
        <div class="glide h-full w-full " data-glide-options="{type: 'slider', startAt: 0, perView: 1}">
            <div class="glide__track h-full" data-glide-el="track">
                <ul class="glide__slides flex h-full">
                    {{ columns }}
                    <li class="glide__slide flex">
                        {{ partial src="parts/cards/card" }}
                    </li>
                    {{ /columns }}
                </ul>
            </div>
        </div>
    </div>
</div>
